<a href="https://colab.research.google.com/github/aliaa-13/Data-analytics-using-python-/blob/main/Day2_Student_Marks_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data = {
    'Name': ['Ali', 'Sara', 'John', 'Meena', 'Ravi'],
    'Math': [78, 88, 65, 45, 35],
    'Science': [82, 91, 70, 56, 40],
    'English': [74, 85, 72, 48, 38]
}

df = pd.DataFrame(data)
print("first five row")
print(df.head())

print("\n summary stats:")
print(df.describe)

df['total']=df[['Math','Science','English']].sum(axis=1)
df['average']=df[['Math','Science','English']].mean(axis=1)

print("Updated table with total & average")
print(df)

failing= df[(df['Math']<40)|(df['Science']<40)|(df['English']<40) ]
print("\n Students who failed (score < 40 in any subject):")
print(failing)

first five row
    Name  Math  Science  English
0    Ali    78       82       74
1   Sara    88       91       85
2   John    65       70       72
3  Meena    45       56       48
4   Ravi    35       40       38

 summary stats:
<bound method NDFrame.describe of     Name  Math  Science  English
0    Ali    78       82       74
1   Sara    88       91       85
2   John    65       70       72
3  Meena    45       56       48
4   Ravi    35       40       38>
Updated table with total & average
    Name  Math  Science  English  total    average
0    Ali    78       82       74    234  78.000000
1   Sara    88       91       85    264  88.000000
2   John    65       70       72    207  69.000000
3  Meena    45       56       48    149  49.666667
4   Ravi    35       40       38    113  37.666667

 Students who failed (score < 40 in any subject):
   Name  Math  Science  English  total    average
4  Ravi    35       40       38    113  37.666667